@page "/eventdialog/{Message}"
@inject DialogService dialogService
@inject IDockerService DockerService
<div style="width: 100%; height: 100%; margin:none">
    <RadzenRow Style="border-bottom:solid; border-bottom-width:thin; border-bottom-color: rgb(69, 86, 94)">
        <RadzenColumn Size="3" Style="width: 50px">
            <RadzenRow Style="padding-left: 8px; border-right:solid; border-right-width:thin; border-right-color: rgb(69, 86, 94)">
                <RadzenText Style="font-weight:500; color: rgb(63, 203, 190)">Start Time</RadzenText>
            </RadzenRow>
            <RadzenRow Style="padding-left: 8px; border-right:solid; border-right-width:thin; border-right-color: rgb(69, 86, 94)">
                <RadzenText Style="font-weight:500; color: rgb(63, 203, 190)">End Time</RadzenText>
            </RadzenRow>
            <RadzenRow Style="padding-left: 8px; border-right:solid; border-right-width:thin; border-right-color: rgb(69, 86, 94)">
                <RadzenText Style="font-weight:500; color: rgb(63, 203, 190)">Message Id</RadzenText>
            </RadzenRow>
            <RadzenRow Style="padding-left: 8px; border-right:solid; border-right-width:thin; border-right-color: rgb(69, 86, 94)">
                <RadzenText Style="font-weight:500; color: rgb(63, 203, 190)">Severity</RadzenText>
            </RadzenRow>
            <RadzenRow Style="padding-left: 8px; border-right:solid; border-right-width:thin; border-right-color: rgb(69, 86, 94)">
                <RadzenText Style="font-weight:500; color: rgb(63, 203, 190)">Source</RadzenText>
            </RadzenRow>
            <RadzenRow Style="padding-left: 8px; border-right:solid; border-right-width:thin; border-right-color: rgb(69, 86, 94)">
                <RadzenText Style="font-weight:500; color: rgb(63, 203, 190)">Title</RadzenText>
            </RadzenRow>
            <RadzenRow Style="margin-bottom: 3px; padding-left: 8px; border-right:solid; border-right-width:thin; border-right-color: rgb(69, 86, 94)">
                <RadzenText Style="font-weight:500; color: rgb(63, 203, 190)">Result</RadzenText>
            </RadzenRow>
        </RadzenColumn>
        <RadzenColumn Size="9" >
            <RadzenRow>
                <RadzenText Style="padding-left: 4px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-weight:300">@Message.StartTime.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss")</RadzenText>
            </RadzenRow>
            <RadzenRow>
                <RadzenText Style="padding-left: 4px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-weight:300">@((Message.EndTime != null) ? Message.EndTime.Value.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss") : "")</RadzenText>
            </RadzenRow>
            <RadzenRow>
                <RadzenText Style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-weight:100">@Message.Id.Id.ToString()</RadzenText>
            </RadzenRow>
            <RadzenRow>
                <RadzenText Style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-weight:100">@Message.Severity.ToString()</RadzenText>
            </RadzenRow>
            <RadzenRow>
                <RadzenText Style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-weight:100">@Message.Id.Source.ToString()</RadzenText>
            </RadzenRow>
            <RadzenRow>
                <RadzenText Style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-weight:100">@Message.Title</RadzenText>
            </RadzenRow>
            <RadzenRow>
                <RadzenText Style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-weight:100">@Message.Result.ToString()</RadzenText>
            </RadzenRow>
        </RadzenColumn>
        <RadzenColumn Size="1">
            <RadzenButton Style="width: 50px; height: 20px" class="rz-border-radius-0 rz-ripple" Variant="Variant.Flat" Shade="Shade.Darker" Click=@(() => DockerService.CancelOperation(Message.Id.Action)) Text="Cancel" ButtonStyle="ButtonStyle.Danger" Disabled="@(GetResultState())" />
        </RadzenColumn>
    </RadzenRow>
    <RadzenText Style="margin-top: 5px;">Message</RadzenText>
    <RadzenTextArea Value="@Message.Message" Style="font-weight:100; color: rgb(198, 183, 141); width: 100%; height: 100%; min-height: 250px"></RadzenTextArea>
</div>
@code {
    [Parameter]
    public EventMessage Message { get; set; }

    private bool GetResultState()
    {
        return Message.Result != EventResult.Unknown ? true : false;
    }
}
